name: Stock GVI ThreeFactor

on:
  schedule:
    - cron: '0 1 * * 5'  # 每週五 01:00 UTC (台灣時間 09:00) 運行

  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r python/requirements.txt

      - name: Execute Stock GVI ThreeFactor script
        run: |
          python python/Stock_Filter.py
            
      - name: Commit and Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git pull origin main  # Pull the latest changes
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "Update Stock GVI ThreeFactor data" --allow-empty)
          git push origin main  # Push the changes
            
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            branch: main
